---
import BoardLayout from "@/layouts/BoardLayout.astro";
import PostCard from "@/components/PostCard.astro";
---

<BoardLayout>
  <main>
      <div class="grid grid-cols-4 gap-4 text-embarkspace0">
        <div class="p-4 bg-embarkreddark rounded-md flex items-center justify-center">Backlog</div>
        <div class="p-4 bg-sky-300 rounded-md flex items-center justify-center">Ready</div>
        <div class="p-4 bg-embarkyellow rounded-md flex items-center justify-center">In Progress</div>
        <div class="p-4 bg-embarkgreen rounded-md flex items-center justify-center">Done</div>
        <div class="p-4 bg-embarkreddark rounded-md flex items-center justify-center">
          <div class="flex w-full flex-col bg-white">
            hi mom
          </div>
        </div>
      </div>
  </main>
</BoardLayout>
