---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import { getCollection } from 'astro:content';
---
<Navigation />
<Layout title="Portfolio">
  <main>
    <div>
      <p>
        hi mom
        </p>
    </div>
  </main>
</Layout>

<style>
main {
  margin: auto;
 /*padding: 1.5rem;*/
  max-width: 66%;
  color: white;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  color: white;
}
div {
  background-color: #FFE6B3;
  height: 100%;
}
</style>
